*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    
    background-color: #e5e5f7;
    background-image: radial-gradient(#c657d8 0.5px, transparent 0.5px), radial-gradient(#c657d8 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flex;
    min-height: 100vh;
}

.form{
    background-color: #ffd;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 1.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title{
    font-size: 2rem;
    margin-bottom:  .5em;
}


.form_container{
    margin-top: 3em;
    display: grid;
}

.form_group{
    position: relative;
    --color: #5757577e;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

/*.form_submit{
    background: #3866f2;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}*/


.button-container {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}


.admin-btn{
    position: relative;
    padding: 10px 8px;
    border: none;
    outline: none;
    background: #706c6c;
    color: #dcc2e4;
    cursor: pointer;
    transition: .5s;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 5px;
}

.admin-btn:hover{
    color: #fff;
}

.admin-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px #706c6c;
  }


.grupo-2{
    opacity: 0.5;
}



@media (max-width:425px){
    .form_title{
        font-size: 1.8rem;
    }
}


.btn-neon{
    position: relative;
    display: inline-block;
    padding: 1px 3px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
